{% extends 'base.html.twig' %}

{% block title %}New Film{% endblock %}

{% block body %}
    <div class="container mt-5">
        <h1 class="mb-4">Créer un nouveau film</h1>

        <div class="card">
            <div class="card-body">
                {{ include('film/_form.html.twig') }}
            </div>
        </div>

        <a href="{{ path('app_film_index') }}" class="btn btn-secondary mt-3">Retour à la liste</a>
    </div>
{% endblock %}
